@use '../variables' as *;

.benefits {
  background-color: $bg-color-tertiary;

  &__title {
    color: $text-color-primary;
    font-size: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    margin-top: 60px;

    .benefits-item {
      flex-basis: 360px;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__title {
        color: $text-color-primary;
        font-size: 24px;
        line-height: 1.6;
      }

      &__description {
        color: $text-color-tertiary;
        font-size: 18px;
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 15px;
    background-color: $bg-color-primary;
    color: $text-color-primary;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba($primary-color, 0.1);
    white-space: normal;
    width: max-content;
    max-width: 250px;
    overflow-wrap: break-word;
    word-break: keep-all;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    bottom: 120%;
    left: 0;
  }

  &:hover {
    .tooltip__text {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
