@use '../variables' as *;

//! header

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $primary-color;
  color: $text-color-secondary;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  .header-nav {
    &__list {
      display: flex;
      gap: 40px;
      font-size: 20px;
    }
  }
}
//! main
.main {
  flex-grow: 1;
}

//! footer

.footer {
  background-color: $primary-color;
  color: $text-color-secondary;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 43px 0;
  }

  .footer-top-block {
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom-block {
    &__copyright {
      font-size: 16px;
      color: rgba($text-color-secondary, 0.7);
    }
  }
}
