@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src:
      url('#{$path}.woff2') format('woff2'),
      url('#{$path}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Jost', '../assets/fonts/Jost/Jost-Regular', 400);
@include font-face('Jost', '../assets/fonts/Jost/Jost-Bold', 700);
@include font-face('Jost', '../assets/fonts/Jost/Jost-SemiBold', 600);
