@use 'variables' as *;

body {
  min-width: 320px;
  min-height: 100dvh;
  font-family: $font-main;
  font-weight: 400;
  line-height: 1.6;
  background-color: $bg-color-secondary;
  color: $text-color-primary;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  color: $text-color-secondary;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  height: 100%;

  &__wide {
    max-width: 1760px;
  }
}

.logo {
  color: $text-color-primary;
  font-weight: 600;
  font-size: 30px;
}

.tel {
  font-weight: 600;
  font-size: 30px;
}

.button {
  background-color: $controls-bg-primary;
  color: $text-color-primary;
  font-size: 18px;
  padding: 25px 54px;
  border-radius: 5px;

  &--dark {
    background-color: $controls-color-secondary;
  }
}
