@use 'reset';
@use 'variables' as *;
@use 'global';

//header
.header {
  background-color: $secondary-color;
  height: 70px;
  width: 100%;
}

.navigation {
  display: flex;
  padding: 30px 100px 0;
  justify-content: space-between;
  align-items: center;
}

.navigation_list {
  display: flex;
  width: 324px;
  justify-content: space-between;
}
//end of header

//section1
.section1 {
  width: 1920px;
  height: 100vh;
}

.img {
  width: 516px;
  height: 917px;
}
//end of section1
