$font-main: 'Jost', sans-serif;

$text-primary: #ffffff;
$text-secondary: #141024;
$text-accent: #d52027;

$bg-primary: #ffffff;
$bg-secondary: #141024;
$bg-alternate: #f9f9f9;

$controls-bg: #d52027;
$controls-bg-dark: #141024;

$controls-bg: #d52027;
$controls-bg-dark: #141024;

$transition-fast: 0.3s ease-in-out;
